{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Historique des reservations</title>
{% endblock %}

{% block content %}



<div class="text-center">
  
    <div class="card-body">
      <h5 class="card-title">Historique des reservations</h5>
      <p class="card-text">Consultez ci-dessous les réservations enregistrées.</p>
    
      
    </div>
    
  </div>

  <div class="text-center mt-4">
    <a href="{% url 'home' %}" class="btn btn-outline-secondary nav-button back-button">
        <i class="fas fa-arrow-left me-1"></i> Retour à l'accueil
    </a>
    {% comment %} <a href="{% url 'create-booking' %}" class="btn btn-outline-primary me-2 nav-button bg-primary text-light">
        <i class="fas fa-list me-1"></i> Enrégistrer un nouvelle réservation
    </a> {% endcomment %}
</div>
<div class="container mt-5">

    {% comment %} {% if bookings %} {% endcomment %}
        {% comment %} {% for booking in bookings %}
            {{booking.cleaner}}
        {% endfor %} {% endcomment %}
      

        {% comment %} {% include "bookings/recent_bookings.html" %} {% endcomment %}
{% comment %} 
        <div class="table-container">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Référence</th>
                  <th>Date de Création</th>
                  <th>Date de lavage</th>
                  <th>statut</th>
                  <th>Agent d'accueil</th>
                  <th>Laveur</th>
                  <th>Client</th>
                  <th>Vehicule</th>
                  <th>Service</th>
                  <th>Prix
                  
                  <!-- Ajoute plus de colonnes ici -->
                </tr>
              </thead>
              <tbody>
                {% for booking in bookings %}
                <tr>           
                    <td>{{booking.reference}}</td>
                    <td>{{booking.created_on}}</td>
                    <td>{{booking.washing_date}}</td>
                    <td>{{booking.get_status_display}}</td>
                    <td>{{booking.receptionist}}</td>
                    <td>{{booking.cleaner}}</td>
                    <td> {{booking.customer.last_name}} {{booking.customer.first_name}}</td>
                    <td>{{booking.vehicle}}</td>
                    <td>{{booking.service}}</td>
                    <td>{{booking.price}}</td>
            
                  {% endfor %}
      
                </tr>
              </tbody>
            </table>
          </div> {% endcomment %}


        {% comment %} <h2>Vos voitures</h2>
        {% include "bookings/car_list.html" with cars=cars %}
        <div>
            <br>
        </div>
        <h2>Vos motos</h2>
        {% include "bookings/motorcycle_list.html" with motorcycles=motorcycles %} {% endcomment %}
        


{% comment %} 
    {% else %}
        <div class="alert alert-warning text-center">
            Aucun réservation enregistré pour le moment.
        </div>
    {% endif %} {% endcomment %}



    {% if bookings %}
    <div class="container py-1">
        {% comment %} <!-- Ticket Stats -->
        <div class="row text-center">
          <div class="col-md-4">
            <div class="card card-stat p-3">
              <h5 class="card-title">En attente</h5>
              <p>Nombre Total: {{number_bookings_statut_0}}</p>
              <button class="btn btn-primary btn-sm">Détail</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-stat p-3">
              <h5 class="card-title">Confirmé</h5>
              <p>Nombre Total: {{number_bookings_statut_1}}</p>
              <button class="btn btn-primary btn-sm">Détail</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-stat p-3">
              <h5 class="card-title">En cours</h5>
              <p>Nombre Total: {{number_bookings_statut_2}}</p>
              <button class="btn btn-primary btn-sm">Détail</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-stat p-3">
              <h5 class="card-title">Terminé</h5>
              <p>Nombre Total: {{number_bookings_statut_3}}</p>
              <button class="btn btn-primary btn-sm">Détail</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-stat p-3">
              <h5 class="card-title">Annulé</h5>
              <p>Nombre Total: {{number_bookings_statut_4}}</p>
              <button class="btn btn-primary btn-sm">Détail</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-stat p-3">
              <h5 class="card-title">Payé</h5>
              <p>Nombre Total: {{number_bookings_statut_5}}</p>
              <button class="btn btn-primary btn-sm">Détail</button>
            </div>
          </div>
        </div>
     {% endcomment %}
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="text-center mt-3">Nombre total de réservations : {{ bookings|length }}</h4>
          {% comment %} <button class="btn btn-primary btn-sm">Afficher plus</button> {% endcomment %}
        </div>
    
        <div class="table-container">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Référence</th>
                <th>Date de Création</th>
                <th>Date de lavage</th>
                <th>statut</th>
                <th>Agent d'accueil</th>
                <th>Laveur</th>
                <th>Client</th>
                <th>Vehicule</th>
                <th>Service</th>
                <th>Prix
                
                <!-- Ajoute plus de colonnes ici -->
              </tr>
            </thead>
            <tbody>
              {% for booking in bookings %}
              <tr>           
                  <td>{{booking.reference}}</td>
                  <td>{{booking.created_on}}</td>
                  <td>{{booking.washing_date}}</td>
                  <td>{{booking.get_status_display}}</td>
                  <td>{{booking.receptionist}}</td>
                  <td>{{booking.cleaner}}</td>
                  <td> {{booking.customer.last_name}} {{booking.customer.first_name}}</td>
                  <td>{{booking.vehicle}}</td>
                  <td>{{booking.service}}</td>
                  <td>{{booking.price}}</td>
          
                  {% comment %} {% if booking.status == 0 %}
    <form method="post" action="{% url 'update_booking_status' booking.id %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="status">Mettre à jour le statut :</label>
        <select name="status" class="form-control" required>
          <option value="">Choisissez un statut</option>
          <option value="1">Confirmé</option>
          <option value="4">Annulé</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success mt-2">Mettre à jour</button>
    </form>
    {% endif %} {% endcomment %}
    
    
                {% endfor %}
    
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
    
        {% else %}
        <div class="alert alert-warning text-center">
            Aucun réservation enregistré pour le moment.
        </div> 
    {% endif %}

</div>


{% endblock %}